<a href="https://colab.research.google.com/github/asetya/BigData/blob/master/Copy_of_DATA_PUBG_DATASET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

,Unnamed: 0,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,2093518,a3e3cea9f2e314,c9f6eaa81245b5,a3d8693390584c,0,0,25.93,0,0,0,...,0,0.0,0,0.0,0,0,151.30,1,1525,0.0667
1,3701672,43e4be7ad72cc7,521836de101ee8,b65de9055327e0,0,0,36.71,0,0,0,...,0,0.0,0,0.0,0,0,1918.00,7,1516,0.5862
2,2059784,9a68690e31fdff,4a72ffa2cebd90,d6aad3f9830e60,0,1,47.73,0,0,0,...,0,4088.0,0,0.0,0,0,820.00,7,0,0.8105
3,1302036,b147e1bd448fc4,9a8991656b3fea,d931c0932d8aca,0,0,0.00,0,0,0,...,1,0.0,0,0.0,0,0,38.81,0,1515,0.5556
4,297180,d818b4edd59612,eece87c8b846b3,ec2b5ed94baae3,0,2,100.00,0,0,3,...,0,918.4,0,0.0,0,0,1721.00,5,0,0.6429

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
X = df.iloc[:,4:10].values.astype(float)
y = df.iloc[:,-1].values.astype(float)

In [ ]:
y

array([0.0667, 0.5862, 0.8105, ..., 0.9184, 0.1304, 0.4   ])

In [ ]:
X

array([[  0.  ,   0.  ,  25.93,   0.  ,   0.  ,   0.  ],
       [  0.  ,   0.  ,  36.71,   0.  ,   0.  ,   0.  ],
       [  0.  ,   1.  ,  47.73,   0.  ,   0.  ,   0.  ],
       ...,
       [  0.  ,   5.  , 282.6 ,   2.  ,   1.  ,   3.  ],
       [  0.  ,   0.  , 100.  ,   1.  ,   0.  ,   0.  ],
       [  0.  ,   2.  ,  77.  ,   0.  ,   0.  ,   1.  ]])

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = y.reshape(-1,1)
y = sc_y.fit_transform(y)

In [ ]:
y = y[np.all(np.isfinite(y), axis=0)]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [ ]:
print(len(x_train))
print(len(x_test))

734002
314573

In [ ]:
print(len(y_train))
print(len(y_test))

734002
314573

False

In [3]:
from sklearn.svm import SVR

In [4]:
regressor = SVR(kernel='rbf')
regressor.fit(x_train,y_train)

NameError: ignored

In [1]:
y_pred = regressor.predict(x_test)

NameError: ignored

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)